fastapi
uvicorn[standard]

pydantic[email]
email-validator
python-dotenv

sqlalchemy
sqlalchemy[psycopg2]
sqlmodel
psycopg2-binary
alembic

passlib[bcrypt]
argon2_cffi
python-jose[cryptography]

openai
